:root {
  --primary: #b6985b;
  --bg: #010101;
  --first-color: #2e2e41;
  --second-color: #5b85ff;
  --third-color: #434354;
  --text-fill-color: #fff;

  --box-shadow: 0 5px 25px rgb(2, 2, 2, 0.1);
  --text-shadow: 0 5px 25px rgba(168, 168, 168, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

section {
  position: relative;
  margin: 0;
  transition: 0.5s ease;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(0, 0, 0);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 7%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999999;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700px;
  color: white;
  font-style: italic;
}

.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1.6rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: white;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */

.hero .container {
  display: flex;
  margin-top: -5rem;
}

.hero .content .sosmed {
  gap: 2rem;
  display: flex;
  margin-top: 2rem;
}

.hero .sosmed a {
  color: white;
}
.hero .paragraph {
  text-align: left;
  padding-left: 10rem;
  padding-top: 30rem;
}

.hero .content h1 {
  font-size: 3.3em;
  line-height: 5rem;
  color: white;
  mix-blend-mode: difference;
}

.hero .content p {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
  color: white;
  max-width: 50rem;
  mix-blend-mode: difference;
}

.hero .content .button {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: white;
  background-color: var(--primary);
  border-radius: 0.5rem;
  display: none;
}

.hero .content h3 {
  margin-left: 13rem;
  line-height: 3rem;
  font-size: 1.8rem;
  color: white;
  font-weight: 400;
  mix-blend-mode: difference;
}

.hero {
  background-image: url('../img/Landing.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 140vh;
}

.shadow {
  background-color: #0101016c;

  min-height: 40vh;
  margin-top: 35rem;
}

/* About Section */

.menu,
.kontak {
  padding: 8rem 7% 1.4rem;
  color: white;
}

.about {
  padding-top: 5rem;
}
.about h2,
.kontak h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
  margin-top: 5rem;
  color: white;
}

.about .row {
  display: flex;
}

.about .row .content {
  text-align: center;
  margin: auto;
}

.about .row .content h1 {
  font-size: 2.3rem;
  color: white;
  font-weight: 400;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
  color: white;
  max-width: 80rem;
}

.about .explain {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  color: #bebebe;
  font-size: 1rem;
  margin-top: 3rem;
  margin-right: 1rem;
}

.about span {
  font-size: 1.5rem;
  font-weight: 800;
}

.about .experience {
  margin-top: -4rem;
}

/* Experience */
.bg {
  min-height: 80vh;
  margin-top: 5rem;
}

.bg .title {
  text-align: center;
  padding-top: 7rem;
}

.bg .title h2 {
  font-size: 3rem;
  color: white;
}

.bg .title p {
  font-size: 1rem;
  color: white;
}

.bg .tiktok-card {
  background: url('../img/tiktok.jpg');
  background-size: cover;
  border-radius: 5%;
  width: 32rem;
  height: 27rem;
}

.bg .tiktok-card img {
  max-height: 34.7px;
  max-width: 30.5px;
  padding-left: 7px;
  padding-top: 7px;
  opacity: 50%;
}

.bg .shopee-card {
  background: url('../img/shopee.jpg');
  background-size: cover;
  border-radius: 5%;
  width: 32rem;
  height: 27rem;
}

.bg .shopee-card img {
  max-height: 34.7px;
  max-width: 30.5px;
  padding-left: 7px;
  padding-top: 7px;
  opacity: 50%;
}

.bg .tokped-card {
  background: url('../img/tokopedia.jpg');
  background-size: cover;
  border-radius: 5%;
  width: 32rem;
  height: 27rem;
}

.bg .tokped-card img {
  max-height: 34.7px;
  max-width: 30.5px;
  padding-left: 7px;
  padding-top: 7px;
  opacity: 50%;
}

.bg .experience-card {
  gap: 7rem;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.bg .card {
  position: relative;
  bottom: rem;
  width: 32rem;
  height: 24rem;
  opacity: 0;
}

.bg .card:hover {
  opacity: 1;
  transition: ease-in 0.2s;
  z-index: 1;
}

.bg .card .card-body {
  text-align: center;
  padding-top: 5rem;
  z-index: 1;
  color: white;
}

.bg .card .card-body img {
  width: 10rem;
  height: 10rem;
  margin-bottom: 0.5rem;
  margin-left: -0.8rem;
}

.bg .card .card-body h5 {
  font-size: 2rem;
}

.bg .card .card-body .btn-tiktok {
  background-color: #010101;
  display: inline;
  padding: 4px 12px;
  position: relative;
  top: 1rem;
  border-radius: 10%;
  color: white;
  text-decoration: none;
}

.bg .card .card-body .btn-shopee {
  background-color: #f1582c;
  display: inline;
  padding: 4px 12px;
  position: relative;
  top: 1rem;
  border-radius: 10%;
  color: white;
  text-decoration: none;
}

.bg .card .card-body .btn-tokped {
  background-color: #84c567;
  display: inline;
  padding: 4px 12px;
  position: relative;
  top: 1rem;
  border-radius: 10%;
  color: white;
  text-decoration: none;
}

.bg .card .card-body a {
  color: white;
}

/* Media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* tablet */
@media (max-width: 768px) {
  #hamburger-menu {
    display: inline-block;
    color: var(--primary);
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .hero .container {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin-right: 10rem;
  }

  .hero .paragraph {
    text-align: center;
    margin: auto;
  }

  .hero .sosmed {
    justify-content: center;
  }

  .hero h1 {
    margin-bottom: 3rem;
  }

  .about .row {
    display: flex;
    flex-direction: column;
  }

  .about .explain {
    padding-bottom: 3rem;
  }

  .menu p {
    font-size: 1.2rem;
  }

  .bg .experience-card {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    gap: 3rem;
    margin-top: 4rem;
  }

  .bg .experience-card .card {
    max-width: 15rem;
    min-width: 14rem;
    height: 10rem;
  }

  .bg .card-body {
    position: relative;
  }

  .bg {
    min-height: 70vh;
    max-height: 75.1vh;
    margin-top: 10rem;
  }

  .kotak .row {
    display: flex;
    max-width: fit-content;
    gap: 5rem;
    margin: auto;
  }
}

/* mss */
@media (max-width: 1450px) {
  html {
    font-size: 55%;
  }
}

/* handphone */
@media (max-width: 480px) {
  html {
    font-size: 55%;
  }

  .bg .experience-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
  }

  .bg .experience-card .card {
    max-width: 30rem;
    min-width: 25rem;
    margin: auto;
  }

  .bg .card-body {
    position: relative;
    right: 5rem;
  }

  .bg {
    max-height: 160vh;
    min-height: 150vh;
    margin-top: 20rem;
  }

  .bg .title {
    padding-top: 5rem;
  }

  .gallery .card {
    max-width: 20%;
    min-width: 49%;
    max-height: 50%;
    min-height: 49%;
  }

  .kotak .row .row-right .list .call {
    position: relative;
    font-size: 1rem;
    top: 0.3rem;
    left: 2rem;
    color: #bebebe;
  }

  .kotak .row .row-right .list {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .kotak .row .row-right {
    display: flex;
    font-size: 1rem;
    margin-right: 4rem;
    margin-left: 0;
  }

  .kotak .row .row-right .list {
    margin: 0 1rem;
  }

  .kotak .row .row-right .list i {
    position: relative;
    left: 2rem;
  }

  .kotak .row .row-left .map {
    margin: auto;
    max-width: 30rem;
  }

  .kotak .row .row-left {
    margin: auto;
  }
}

.close {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
/* Kontak section */
.kontak .title {
  text-align: center;
}

.kontak .title p {
  margin-top: -3rem;
}

.contact_container {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  margin-bottom: 0;
  max-width: 700px;
  min-width: 300px;
  max-height: 300px;
  min-height: 300px;
  padding-top: 7rem;
}

.kontak {
  margin-bottom: 7rem;
}

.contact_part .row {
  display: flex;
  justify-content: center;
  gap: 5rem;
  text-align: center;
  margin-top: 5rem;
  margin-right: 1.3rem;
}

.contact_part i {
  font-size: 2.5rem;
  color: var(--primary);
  position: relative;
  bottom: 1rem;
}
/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: white;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links a {
  color: white;
  padding: 1.7rem 1rem;
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

/* Galery */
.gallery .title {
  text-align: center;
  margin-top: 10rem;
  color: white;
}

.gallery .title h2 {
  font-size: 3rem;
}

.gallery .card {
  width: 200px;
  height: 300px;
  border-radius: 7px;
  margin: 0rem;
  overflow: hidden;
  margin-top: 1rem;
}

.gallery .gallery-content {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  flex-wrap: wrap;
  gap: 4rem;
}

.gallery .card img {
  width: 200px;
  height: 300px;
}

.gallery .gallery-content .card-ex {
  height: 100px;
  width: 200px;
  padding: 1.3rem;
  position: relative;
  box-sizing: border-box;
  background: #cccccc69;
  bottom: 0px;
  transition: 0.5s;
}

.gallery .card-ex p {
  visibility: hidden;
}

.gallery .gallery-content .card:hover {
  cursor: pointer;
}

.gallery .card:hover .card-ex {
  bottom: 100px;
  height: 100px;
  background: #cccccc69;
}

.gallery .gallery-content .card:hover .card-ex p {
  opacity: 1;
  visibility: visible;
}

.gallery .gallery-content .card:hover img {
  transform: scale(1.1) rotate(-3deg);
  transition: 0.5s;
}
